# Inventory Service Config
INVENTORY_DB_URL=
INVENTORY_PORT=
INVENTORY_DB_USER=
INVENTORY_DB_PASS=
INVENTORY_GRPC_PORT=
INVENTORY_GRPC_ADDRESS=

# Order Service Config
OMS_DB_URL=
OMS_PORT=

# AI Agent Service Config
GEMINI_API_KEY=
AI_AGENT_PORT=
